
# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Playwright
playwright-report/
test-results/
playwright.config.js

# Tests
tests/

# Backups
backup/

# Notes
task.md
app.js
clear_messages.js
decrypted_file.js
delete_r2_files.js
decrypt_folder.js
scratch_check.js
to-remove.txt

# ZIP files
*.zip

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.ocker-compose.loadtest.yml
Dockerfile
nginx.loadtest.conf
# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/ try to remove all these form github and git history
